//================================================================================
html[data-theme="light"] {
	--text-color: #000;
	--bg-color: #fff;
	.theme__radio {
		filter: invert(0);
	}
	.theme__radio:checked {
		filter: invert(1);
	}
}
//================================================================================
